@model IEnumerable<WebApplication1.Models.Item>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="justify-content-center">
        <h1 class="text-center">Shop Items</h1>
    </div>
</div>

<div class="container">
    <div class="card-group">
        @foreach (var item in Model)
        {

            <div class="card">
                <img src="@item.ItemImage" class="card-img-top" alt="Item Image">
                <div class="card-body">
                    <h5 class="card-title">@item.ItemName</h5>
                    <p class="card-text">@item.ItemDescription</p>
                    <p class="card-text">Cost: @item.ItemCost</p>
                    <p class="card-text">Category: @item.Category.CategoryId</p>
                    <a href="@Url.Action("Edit", "Items", new { id = item.ItemId })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("Details", "Items", new { id = item.ItemId })" class="btn btn-secondary">Details</a>
                    <a href="@Url.Action("Delete", "Items", new { id = item.ItemId })" class="btn btn-danger">Delete</a>
                </div>
            </div>
      


            @if ((Model.ToList().IndexOf(item) + 1) % 3 == 0)
            {
                @:</div><div class="row">
            }
        }
    </div>
</div>
