
@model IEnumerable<WebApplication1.Models.Item>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />



@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="justify-content-center">
        <h1 class="text-center">Shop Items</h1>
    </div>
</div>

<div class="container">
    <div class="row row-cols-3 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {
        <div class="col">
            <div class="card">
                <img src="@item.ItemImage" class="card-img-top" alt="Item Image">
                <div class="card-body">
                    <h5 class="card-title">@item.ItemName</h5>
                    <p class="card-text text-truncate">Description: @item.ItemDescription</p>
                    <p class="card-text">Cost: @item.ItemCost</p>
                    <p class="card-text">Category: @item.Category.CategoryId</p>
                    <a asp-controller="Items" asp-action="Details" asp-route-id="@item.ItemId" class="btn btn-primary">View Item Details</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>
